/* this is the one place where global styles will go
 * and not be restricted to the implementing UI component*/
@import 'normalize.css';

.AppBase {
  font-family: Lato;
}

body {
  scroll-behavior: smooth;
}

img {
  display: block;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.875em;
}

li {
  line-height: 1.333;
  margin-bottom: 1em;
}

blockquote {
  font-size: 1.75em;
}

blockquote p {
  font-size: inherit;
}

