/* this is the one place where global styles will go
 * and not be restricted to the implementing UI component*/
@import 'normalize.css';

.AppBase {
  font-family: Lato;
  position: relative;
  margin: 10px;
}

.AppBase-content {
  min-height: calc( 100vh - 143px );
}

.AppBase-nav-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
  height: 108px;
  background-color: #393939;
  z-index: 0;
}

body {
  scroll-behavior: smooth;
  color: #393939;
}

body.noscroll {
  overflow: hidden;
}

a {
  cursor: pointer;
}

img {
  display: block;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
}

p img {
  width: 100%;
}

li {
  line-height: 1.333;
  margin-bottom: 1em;
}

blockquote {
  font-size: 1.75em;
}

blockquote p {
  font-size: inherit;
}

@media screen and (max-width: 600px) {
  .AppBase {
    margin: 0;
  }

  .AppBase-nav-background {
    height: 80px;
    margin: 0;
  }
}
