/* this is the one place where global styles will go
 * and not be restricted to the implementing UI component*/
@import 'normalize.css';

.AppBase {
  font-family: Lato;
  position: relative;
  margin: 10px;
}

body {
  scroll-behavior: smooth;
}

body.noscroll {
  overflow: hidden;
}

img {
  display: block;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
}

p img {
  width: 100%;
}

li {
  line-height: 1.333;
  margin-bottom: 1em;
}

blockquote {
  font-size: 1.75em;
}

blockquote p {
  font-size: inherit;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #e1e1e1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #e1e1e1;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #e1e1e1;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #e1e1e1;
}

@media screen and (max-width: 600px) {
  .AppBase {
    margin: 0;
  }
}
