/** @define OpenSource; use strict */

.OpenSource {}

.OpenSource-project {
  box-sizing: border-box;
  display: block;
  padding: 2.25em 1.5em;
  position: relative;
  border-bottom: 1px solid #eee;
}

.OpenSource-title {}

.OpenSource-description {
  color: #aaa;
  font-size: 0.666em;
  margin-top: 0.333em;
  text-transform: uppercase;
}

.OpenSource-button {
  line-height: 3;
}

@media screen and (max-width: 660px) {
  .OpenSource-button {
    display: block;
    margin-top: 1.5em;
    text-align: center;
  }
}

@media screen and (min-width: 601px) {
  .OpenSource-project {
    padding: 2.25em 14em 2.25em 1.5em;
  }

  .OpenSource-project {
    padding-left: 5%;
  }

  .OpenSource-button {
    position: absolute;
    right: 1.5rem;
    top: 2.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .OpenSource-project {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

