/** @define OpenSource; use strict */

.OpenSource {}

.OpenSource-project {
  box-sizing: border-box;
  display: inline-block;
  padding: 2.25em;
  padding-left: 5%;
  position: relative;
  border: 1px solid #eee;
  border-bottom: 0;
  width: 50%;
  vertical-align: top;
  height: 270px;
  font-weight: 100;
  text-decoration: none;
  color: #393939;
}

.OpenSource-project:nth-child(even) {
  border-right: 0;
}

.OpenSource-project:last-child {
  border: 1px solid #eee;
}

.OpenSource-project:nth-last-child(2) {
  border: 1px solid #eee;
}

.OpenSource-title {
  font-size: 2.2em;
  color: #FAAB18;
}

.OpenSource-description {
  font-size: 1.5em;
  margin-top: 0.7em;
}

.OpenSource-view {
  position: absolute;
  bottom: 3em;
  opacity: 0;
  font-weight: 400;
  transition: opacity 200ms ease;
}

.OpenSource-project:hover .OpenSource-view {
  opacity: 1;
}

@media screen and (max-width: 660px) {
  .OpenSource-project {
    width: 100%;
    height: 100%;
  }

  .OpenSource-view {
    display: none;
  }
}
