/** @define Services; use strict */

.Services {}

.Services-list {
  list-style: none;
  padding: 0;
  position: relative;
}

.Services-item {}

.Services-link {
  color: #fff;
  display: inline-block;
  padding: 0.666em 0;
  text-transform: uppercase;
  text-decoration: none;
}

.Services-item-panel {
  display: none;
  padding: 1.5em 1.5em 3em 0;
  max-width: 500px;
}

.Services-title {
  color: #FFDD2E;
  display: block;
  margin: 1em 0;
  text-transform: uppercase;
}

.Services-item.is-active .Services-link {
  color: #FFDD2E;
}

.Services-item.is-active .Services-item-panel {
  display: block;
}

@media screen and (max-width: 600px) {
  .Services-item-panel {
    background: #252525;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.5),
                inset 0 -3px 3px rgba(0, 0, 0, 0.5);
    margin-left: -2em;
    padding-left: 2em;
  }
}

@media screen and (min-width: 601px) {
  .Services-item-panel {
    position: absolute;
    top: 0;
    left: 20em;
    right: 1.5em;
  }
}

