/** @define EventsContent; use strict */

.EventsContent {
  padding: 5%;
}

.EventsContent-list {
  margin: 0;
  padding: 0;
}

.EventsContent-item {
  display: block;
  padding: 2em 0;
  position: relative;
  border-bottom: 1px solid #eee;
}

.EventsContent-date {
  color: #aaa;
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 6px;
}

.EventsContent-eventName {
  font-size: 2em;
  margin-bottom: 6px;
}

.EventsContent-groupName {
  color: #aaa;
  font-size: 0.666em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.EventsContent-button {
  line-height: 4;
}

.EventsContent-button:hover {
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.23);
}

@media screen and (max-width: 660px) {
  .EventsContent-button {
    margin-top: 1.5em;
    display: block;
    padding: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .EventsContent {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

}


