/** @define EventsContent; use strict */

.EventsContent {}

.EventsContent-list {
  margin: 0 0 0 1.5em;
  padding: 0 1.5em 0 0;
}

.EventsContent-item {
  display: block;
  padding: 1.5em 0;
  position: relative;
  border-bottom: 1px solid #eee;
}

.EventsContent-item-segment {
  display: inline-block;
  min-width: 120px;
  vertical-align: top;
}

.EventsContent-date {
  color: #eb4e1b;
  float: left;
  font-size: 2.25em;
  margin-right: 0.3333em
}

.EventsContent-month-year,
.EventsContent-time {
  font-size: 0.666em;
  margin: 0.333em 0;
  text-transform: uppercase;
}

.EventsContent-eventName {}

.EventsContent-groupName {
  color: #aaa;
  font-size: 0.666em;
  margin-top: 0.333em;
  text-transform: uppercase;
}

.EventsContent-button {
  line-height: 3;
}

@media screen and (max-width: 660px) {
  .EventsContent-list {
    margin-left: 1.5em;
  }

  .EventsContent-button {
    right: 1.5rem;
  }


  .EventsContent-item-segment {
    min-width: 100px;
  }

  .EventsContent-date {
    font-size: 1.75em;
    margin-top: 0.0.555em;
    margin-right: 0.1666em
  }

  .EventsContent-month-year,
  .EventsContent-time {
    font-size: 0.666em;
    margin: 0.333em 0;
    text-transform: uppercase;
  }

  .EventsContent-button {
    margin-top: 1.5em;
    text-align: center
  }
}

@media screen and (max-width: 580px) {
  .EventsContent-item-segment {
    display: block;
    min-width: none;
  }

  .EventsContent-date {
    font-size: 3.75em;
  }

  .EventsContent-list {
    margin-left: 0;
  }

  .EventsContent-item {
    padding-left: 1.5em;
  }

  .EventsContent-month-year,
  .EventsContent-time {
    display: inline-block;
    margin-right: 0.5em;
  }
}

@media screen and (min-width: 661px) {
  .EventsContent-item {
    padding-right: 10%;
  }

  .EventsContent-button {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }

  .EventsContent-list {
    margin-left: 5%;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .EventsContent {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .EventsContent-list {
    margin-left: 0;
    padding-right: 0;
  }

}

