@media screen and (min-width: 601px) {
  .Contact-flex {
    color: #393939;
    display: flex;
    padding: 6em;
  }

  .NewsletterInfo {
    flex: 0.333;
    padding-right: 15%;
    padding-left: 5%;
  }
}
