/** @define ContactLocations */

.ContactLocations {
  background: #a04316;
  /* silly hacks to clear margins*/
  padding: 0 0 1px;
}

.ContactLocations ul[role=tablist] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ContactLocations li[role=tab] {
  background: #F5A40E;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  padding: 2em 0;
  position: relative;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  width: 50%;
}

.ContactLocations li[role=tab][selected=selected] {
  background: #FAAB2A;
}

.ContactLocations li[role=tab][selected=selected]:after {
  position: absolute;
  top: 99%;
  left: 0;
  border-top: 1.5em solid #FAAB2A;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  content: ' ';
  z-index: 2;
}

.ContactLocations li[role=tab][selected=selected]:first-child:after {
  left: auto;
  right: 0;
}

.ContactLocations-background {
  position: relative;
  background-position: center;
  background-size: cover;
  margin-top: -1.2em;
  padding: 5em 0;
}

.ContactLocations-overlay {
  background-color: rgba(219, 69, 0, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.ContactLocations-panel {
  background: #fff;
  box-sizing: border-box;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
}

.ContactLocations-contact {
  font-weight: 300;
  padding: 3em 5%;
}

.ContactLocations-name {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 6px;
  margin-right: 8%;
}

.ContactLocations-addr,
.ContactLocations-phone {
  font-size: 1em;
  display: inline-block;
  margin-right: 8%;
}

.ContactLocations-phone {
  margin-right: 0;
}

.ContactLocations-map {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .ContactLocations-map.is-Charlotte {
    background-size: 300%;
    background-position: -180px -110px;
  }

  .ContactLocations-map.is-Denver {
    background-size: 300%;
    background-position: -380px -150px;
  }
}


