/** @define Input; use strict */

.Input {
  border: 0;
  padding: 0 0 1em;
  position: relative;
}

.Input-label {
  position: absolute;
  color: #333;
  font-size: 0.875em;
  opacity: 0;
  text-transform: uppercase;
  top: 22px;
  transition: 0.5s ease top, 0.5s ease opacity;
}

.Input-label.is-checkbox {
  font-size: 0.75em;
}

.Input-label.is-visible {
  display: block;
  font-size: 0.7em;
  opacity: 1;
  top: 8px;
  margin-bottom: 0;
}

.Input-element {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 2em;
  padding-bottom: 0.5em;
  outline: none;
}

.Input-element.is-textarea {
  min-height: 118px;
}
