/** @define ContactForm; use strict */

.ContactForm {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.ContactForm-field {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 10px;
  width: 50%;
}

.ContactForm-field.is-landing {
  width: 75%;
  margin-top: 10px;
}

.ContactForm-textarea {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  height: 8em;
  margin-bottom: 13px;
  margin-top: 10px;
  padding: 5px;
}

.ContactForm-textarea.is-landing {
  width: 75%;
}

.ContactForm-header {
  font-weight: 300;
  font-size: 2.25em;
  padding-bottom: 15px;
}

.ContactForm-header-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}

.ContactForm-header.is-success {
  color: #ff692c;
  font-weight: normal;
  margin-bottom: 2em;
  text-transform: none;
}

.ContactForm-divider {
  border: 0;
  border-bottom: 2px solid #111;
  margin: 1.5em 0;
  width: 80px;
}

.ContactForm-fieldset {
  border: 0;
  padding: 1em 0 2.5em;
}

.ContactForm-label {
  color: #333;
  display: block;
  font-size: 0.875em;
  text-transform: uppercase;
}

.ContactForm-label.is-checkbox {
  font-size: 0.75em;
}

.ContactForm-label.is-textarea {
  margin-top: 15px;
  text-transform: none;
}

.ContactForm-label.is-textarea.is-landing {
  margin-top: 30px;
}

.ContactForm-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 0.5em;
}


.ContactForm-checkbox {
  margin-right: 0.5em;
}
.ContactForm-submit {
  font-size: 18px;
}

.ContactForm-submit.is-landing {
  margin-top: 35px;
}

.ContactForm-thanks {
  margin-left: 4em;
  font-size: 2em;
}


@media screen and (max-width: 767px) {
  .ContactForm-submit {
    width: 100%
  }

  .ContactForm-submit.is-landing {
    font-size: 12px;
  }
  .ContactForm-field,
  .ContactForm-field.is-landing,
  .ContactForm-textarea.is-landing {
    width: 100%;
  }

  .ContactForm-thanks {
    display: block;
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
    font-size: 1.6em;
  }
}
