/** @define Service */

.Service {}

/* STATS ***********/

.Service-percentage {
  font-size: 4em;
  font-weight: 100;
  float: left;
  margin: 0 0.25em 0 0;
  line-height: 1.116;
}

@media screen and (max-width: 600px) {
  .Service-stat {
    margin: 0;
    padding: 1.5em 0;
  }
}

@media screen and (min-width: 601px) {
  .Service-stat {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 1.5em;
  }

  .Service-stat:first-child {
    padding-right: 1.5em;
    padding-left: 0;
  }
}

/* HELP YOU ***********/

.Service-help-list {
  list-style: none;
  padding: 0;
}
