/** @define HomeCaseStudy; use strict */

.HomeCaseStudy {
  background-size: cover;
  color: #fff;
  padding: 5.625em 0;
  position: relative;
  overflow: hidden;
}

.HomeCaseStudy-banner {
  box-sizing: border-box;
  padding: 0 4%;
  max-width: 670px;
  width: 65%;
}

.HomeCaseStudy-title {
  font-size: 3em;
  font-weight: 300;
  padding-top: 190px;
}

.HomeCaseStudy-description {
  font-size: 1.5em;
  font-weight: 300;
  padding-top: 140px;
}

.HomeCaseStudy-feature {
  background-color: rgba(250, 171, 24, .60);
  box-sizing: border-box;
  color: #393939;
  font-weight: 300;
  padding: 1.5em 2%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  text-decoration: none;
  transition: padding-bottom ease 200ms;
}

.HomeCaseStudy-feature-title {
  font-size: 2em;
}

.HomeCaseStudy-feature-description {
  font-size: 1em;
  line-height: 1.8em;
  padding-top: 1em;
}

.HomeCaseStudy-feature-learn {
  font-weight: 600;
  font-size: 1em;
  padding-top: 1em;
}

.HomeCaseStudy-feature:hover {
  padding-bottom: 3em;
}

.HomeCaseStudy-feature:hover .HomeCaseStudy-feature-learn {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {

  .HomeCaseStudy-banner {
    margin-top: -130px;
    width: 100%;
  }

  .HomeCaseStudy-title {
    font-size: 3em;
  }

  .HomeCaseStudy-description {
    font-size: 1.5em;
    padding-top: 40px;
  }

  .HomeCaseStudy-feature {
    width: 100%;
    padding: 1em 5%;
  }
  
}

@media screen and (max-width: 480px) {

  .HomeCaseStudy-title {
    font-size: 2.5em;
    font-weight: 300;
  }

  .HomeCaseStudy-description {
    font-size: 1.2em;
    padding-top: 35px;
  }

}

.HomeCaseStudy-inner {
  width: inherit;
  padding: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
  float: none;
}

.HomeCaseStudy-summary {
  margin-bottom: 4em;
}

.HomeCaseStudy:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    -90deg,
    rgba(235, 66, 8, 1),
    rgba(235, 66, 8, 0.5)
  );
}
