/** @define HomeCaseStudy; use strict */

.HomeCaseStudy {
  color: #fff;
  /*
  padding: 5.625em 1.5em;
  */
  position: relative;
  overflow: hidden;
  background-image:url('/public/images/cokebg.png');
  background-size:cover;

}


.HomeCaseStudy-content {
  position: relative;
  z-index: 2;

}

.HomeCaseStudyInner {
  width:inherit;
  padding: 1.5em;
  padding-left:5%;
  padding-right:5%;
  float:none;
}

.HomeCaseStudy-title {
  font-size: 1.25em;
  font-weight: 900;
  text-transform: uppercase;
}

.HomeCaseStudy-summary {
  margin-bottom: 4em;
}

.HomeCaseStudy:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    -90deg,
    rgba(235, 66, 8, 1),
    rgba(235, 66, 8, 0.5)
  );
}

.HomeCaseStudy-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media screen and (min-width: 600px) {
  .HomeCaseStudy {
    /*
    padding: 5.625em 5% 5.625em 50%;
    */
  }

  .HomeCaseStudyInner {
    width:50%;
    float:right;
    padding-right: 0;
    padding-left: 0;

  }

  .HomeCaseStudy:after {
    background: linear-gradient(
      90deg,
      rgba(235, 66, 8, 0.5),
      rgba(235, 66, 8, 0.5) 30%,
      rgba(235, 66, 8, 1) 45%
    );
  }

  .HomeCaseStudy-image {
    right: 50%;
  }
}
