/** @define Button; use strict */

.Button {
  border-radius: 0.333rem;
  border: 2px solid #fff;
  color: inherit;
  display: block;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 3.9285em; /* 55 / 14 */
  padding: 0 2.1429em; /* 30 / 14 */
  text-decoration: none;
  text-transform: uppercase;
}

.Button.is-primary {
  background: #f16521;
  color: #fff;
  transition: background 0.1666s ease-in;
}

.Button.is-primary:hover,
.Button.is-primary:focus {
  background: #ce5318;
}

.Button.is-secondary,
.Button.is-more,
.Button.is-light{
  background: transparent;
  border: 1px solid #f16521;
  color: #f16521;
  transition: all 0.1666s ease-in;
}

.Button.is-secondary:hover,
.Button.is-secondary:focus,
.Button.is-more:hover,
.Button.is-more:focus {
  border-color: #ce5318;
  color: #ce5318;
}

.Button.is-light {
  background-color: rgba(255, 255, 255, 0);
  border-color: #fff;
  color: #fff;
}

.Button.is-light:focus,
.Button.is-light:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.Button-arrow {
  font-size: 1.3333em;
  float: right;
  margin-left: 1.5em;
  margin-right: -0.5em;
}

