/** @define Button; use strict */

.Button {
  border-radius: 0.333rem;
  border: 2px solid #fff;
  color: inherit;
  display: block;
  font-size: 0.875em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 3.9285em; /* 55 / 14 */
  padding: 0 2.1429em; /* 30 / 14 */
  text-decoration: none;
  text-transform: uppercase;
}

.Button.is-primary {
  background: #f16521;
  color: #fff;
}

.Button.is-secondary,
.Button.is-more {
  background: transparent;
  border: 1px solid #f16521;
  color: #f16521;
}

.Button-arrow {
  font-size: 1.3333em;
  float: right;
  margin-left: 1.5em;
  margin-right: -0.5em;
}

