/** @define Landing; use strict */

.Landing-container {
}

.Landing-container.is-fixed {
  max-width: 1084px;
  margin: 0 auto;
  padding: 0 35px;
}

.Landing-description {
  font-weight: 100;
  font-size: 1.5em;
  max-width: 768px;
}

.Landing-icon-container {
  height: 95px;
  width: 95px;
  display: inline-block;
  text-align: center;
  margin-left: 150px;
}

.Landing-icon-container:first-child {
  margin-left: 0;
}

.Landing-icon {
  width: 100%;
}

.Landing-icon-title {
  display: inline-block;
  font-weight: 100;
  font-size: 1em;
  margin-top: 25px;
  text-transform: uppercase;
}


.Landing-layer {
  background-color: #EFEFEF;
  position: relative;
  height: 400px;
}

.Landing-layer-container {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
}

.Landing-layer-content {
  max-width: 1084px;
  margin: 0 auto;
  padding: 0 35px;
  transform: translateY(50%);
}

.Landing-layer-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Landing-layer-title {
  font-weight: 100;
  font-size: 4em;
}

.Landing-layer-description {
  font-weight: 100;
  font-size: 1.5em;
  max-width: 680px;
  margin-top: 20px;
}

.Landing-stats {
  position: absolute;
  top: 0;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 310px;
  box-sizing: border-box;
  background-color: white;
  z-index: 2;
}

.Landing-stats.is-left {
  left: 0;
}

.Landing-stats.is-right {
  right: 0;
}

.Landing-stat {
  margin: 0;
  padding: 20px 58px;
  border-top: 1px solid #EFEFEF;
  height: 133.333px;
  box-sizing: border-box;
}

.Landing-stat.is-right {
  border-top: 0;
  border-bottom: 1px solid #EFEFEF;
}

.Landing-stat-number {
  font-weight: 100;
  font-size: 4em;
  line-height: 4rem;
}

.Landing-stat-text {
  font-weight: 300;
  font-size: .8em;
  text-transform: uppercase;
}

.Landing-clients {
  margin:170px 0;
}

.Landing-client {
  display: inline-block;
  width: 14.28%;
  box-sizing: border-box;
  vertical-align: middle;
  padding-left: 3%;
}

.Landing-client:first-child {
  margin-left: -3%;
}

.Landing-client-image {
  width: 100%;
}