/** @define NewsletterInfo; use strict */

.NewsletterInfo {
  background: #f4f4f4;
  color: #333;
  padding: 4em 1.5em
}

.NewsletterInfo-header {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.4;
  text-transform: uppercase;
}

.NewsletterInfo-header-small {
  display: block;
  font-size: 0.875rem;
}

.NewsletterInfo-content {
  font-size: 0.875em;
  line-height: 2;
  margin-bottom: 2em;
}

