.Home-wordmark {
  position: absolute;
  bottom: 6%;
}

.Home-wordmark-image {
  height: 22px;
  padding-top: 10px;
}

.Home-statement {
  background-color: #DADADA;
  font-size: 2em;
  font-weight: 300;
  padding: 1.5em 5%;
  text-align: center;
  text-transform: uppercase;
}

.Home-content {
  background-image: url(/public/images/homepage-capabilities.jpg);
  background-size: cover;
  background-position: center;
  color: #393939;
  font-weight: 300;
  height: 786px;
  padding: 0 5%;
  position: relative;
  text-align: center;
}

.Home-content-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Home-content-title {
  font-size: 4em;
  margin-bottom: 70px;
}

.Home-content-description {
  font-size: 2em;
  margin: 0 auto 70px;
}

.Home-content-button {
  letter-spacing: 0;
  font-size: 1em;
}

.Home-content-button:hover,
.Home-content-button:focus {
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.23);
}

@media screen and (min-width: 1024px) {
  .Home-content-description {
    max-width: 1024px;
  }

}

@media screen and (max-width: 769px) {
  .Home-statement {
    font-size: 1.8em;
    text-align: left;
  }

  .Home-content {
    height: inherit;
    padding: 4em 5%;
    text-align: left;
  }

  .Home-content-container {
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .Home-wordmark {
    bottom: 10%;
  }

  .Home-content-title {
    font-size: 2.5em;
    margin-bottom: 25px;
  }

  .Home-content-description {
    font-size: 1.8em;
    margin-bottom: 35px;
  }

  .Home-content-button {
    padding: 0;
    text-align: center;
    width: 100%
  }

}
