.Home-wordmark {
  position: absolute;
  bottom: 6%;
}

.Home-wordmark-image {
  height: 22px;
  padding-top: 10px;
}

.Contact {
  background-color: #ffc75f;
  padding: 144px 0;
}

.Contact-inner {
  display: flex;
  margin: 0 auto;
  max-width: 1024px;
}

.Contact-textContainer {
  flex: 1;
}

.Contact-title {
  font-size: 2em;
  font-weight: 600;
}

.Contact-blurb {
  font-size: 1.5em;
  font-weight: normal;
}

.Contact-ctaContainer {
  align-items: center;
  display: flex;
  flex: 0 1 40%;
  text-align: center;
}

.Contact-link.is-secondary {
  margin-top: 0;
}

.Home-content-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Home-content-title {
  font-size: 4em;
  margin-bottom: 70px;
  margin-top: 0;
  font-weight: 300;
}

.Home-content-description {
  font-size: 2em;
  margin: 0 auto 70px;
}

.HomeTestimonial {
  background-color: rgba(224, 230, 235, 0.2);
  padding: 90px 0;
  text-align: center;
}

.HomeTestimonial-inner {
  margin: 0 auto;
  max-width: 55%;
}

.HomeTestimonial-quote {
  line-height: 1.3em;
  font-size: 2em;
  font-weight: 300;
}

.HomeTestimonial-citation {
  display: block;
  font-size: 0.8em;
  font-style: normal;
  font-weight: normal;
  margin: 40px auto 0 auto;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .Home-content-description {
    max-width: 1024px;
  }

}

@media screen and (max-width: 769px) {
  .Home-content {
    height: inherit;
    padding: 4em 5%;
    text-align: left;
  }

  .Home-content-container {
    position: relative;
    top: 0;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .Home-wordmark {
    bottom: 10%;
  }

  .Home-content-title {
    font-size: 2.5em;
    margin-bottom: 25px;
  }

  .Home-content-description {
    font-size: 1.8em;
    margin-bottom: 35px;
  }

  .Home-content-button {
    padding: 0;
    text-align: center;
    width: 100%
  }

}
