/** @define ShareLinks; use strict */

.ShareLinks-Icon {
  margin-right: 15px;
}

.ShareLinks-Icon:hover .ShareLinks-circle,
.ShareLinks-Icon:focus .ShareLinks-circle {
  fill: black;
}

.ShareLinks-Icon:hover .ShareLinks-path,
.ShareLinks-Icon:focus .ShareLinks-path {
  fill: white;
}
