/** @define NavBar; use strict */

.NavBar {
  background: #000;
  padding: 0.333em 0.666em;
  text-align: right;
}

.NavBar-logo {
  float: left;
  width: 32px;
}

.NavBar-nav-link {
  color: #ccc;
  display: inline-block;
  font-size: 0.8em;
  margin: 0 0.666em;
  line-height: 32px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 601px) {
  .NavBar-menu {
    display: none;
  }

  .NavBar-nav { }
}

@media screen and (max-width: 600px) {
  .NavBar-menu {
    color: #fff;
    display: inline-block;
    font-size: 0.666em;
    line-height: 32px;
    text-decoration: none;
  }

  .NavBar-nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
  }

  .NavBar-nav.is-visible {
    background: #000;
    display: block;
  }

  .NavBar-nav-link {
    display: block;
    padding: 0.666em;
  }
}

