/** @define ServiceSection */

.ServiceSection blockquote {
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
}

.ServiceSection cite {
  font-size: 1rem;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .ServiceSection {
    padding: 1.5em;
  }
}

@media screen and (min-width: 601px) {
  .ServiceSection blockquote {
    line-height: 1.1;
    text-align: center;
  }

  .ServiceSection blockquote p {
    line-height: 1.333;
  }

  .ServiceSection {
    padding: 5.625em 5%;
  }
}

