/** @define HomeClients; use strict */

.HomeClients {}

.HomeClients-client {
  border: 1px solid #eee;
  box-sizing: border-box;
  display: inline-block;
  height: 10em;
  margin-bottom: -3px;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.HomeClients-img {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
}

@media screen and (min-width: 601px) {
  .HomeClients-client {
    width: 25%;
    height: 14em;
  }
}

@media screen and (min-width: 1024px) {
  .HomeClients {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
