/** @define HomeClients; use strict */

.HomeClients {}

.HomeClients-client {
  box-sizing: border-box;
  display: inline-block;
  height: 10em;
  padding: 5%;
  overflow: hidden;
  border: 1px solid #eee;
  width: 50%;
}

.HomeClients-img {
  width: 100%;
}

@media screen and (min-width: 601px) {
  .HomeClients-client {
    width: 25%;
  }
}

