/** @define HomeClients; use strict */

.HomeClients {
  text-align: center;
  padding: 70px 5% 80px 5%;
}

.HomeClients-blurb {
  font-size: 1.5em;
  font-weight: 500;
}

.HomeClients-clients {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 50px auto 0 auto;
  max-width: 400px;
}

.HomeClients-imgWrapper {
  width: 42%;
  margin: 3em 0;
  position: relative;
}

.HomeClients-imgWrapper:nth-child(-n + 2) {
  margin: 0 0 3em 0;
}

.HomeClients-img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .HomeClients-clients {
    max-width: 70%;
  }

  .HomeClients-imgWrapper {
    width: 21%;
    margin: 0.5em 0;
  }

  .HomeClients-imgWrapper:nth-child(-n + 2) {
    margin: 0.5em 0;
  }
}

@media screen and (min-width: 1024px) {
  .HomeClients-clients {
    max-width: 100%;
    margin: 50px 0 0 0;
  }

  .HomeClients-imgWrapper {
    width: 9%;
    margin: 0;
  }

  .HomeClients-imgWrapper:nth-child(-n + 2) {
    margin: 0;
  }
}
