/** @define ServiceSectionOfPercentages */

.ServiceSectionOfPercentages-percentage {
  font-size: 4em;
  font-weight: 100;
  float: left;
  margin: 0 0.25em 0 0;
  line-height: 1.116;
}

@media screen and (max-width: 600px) {
  .ServiceSectionOfPercentages-item {
    margin: 0;
    padding: 1.5em 0;
  }
}

@media screen and (min-width: 601px) {
  .ServiceSectionOfPercentages-item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: 1.5em;
  }

  .ServiceSectionOfPercentages-item:first-child {
    padding-right: 1.5em;
    padding-left: 0;
  }
}


