/** @define NotFound; use strict */
@import 'normalize.css';

.NotFound {

}

.NotFound-statement {
  background-color: #DADADA;
  font-size: 2em;
  font-weight: 300;
  padding: 1.8em 5%;
  text-align: left;
  text-transform: uppercase;
}

