/** @define Hero; use strict */

.Hero {
  background: #eb4e1b;
  color: #fff;
  height: 100vh;
  min-height: 375px;
  max-height: 768px;
  position: relative;
  overflow: hidden;
}

.Hero.is-skinny {
  height: 34vh;
}

.Hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.Hero.is-light {
  color: #000;
}

.Hero-title {
  display: inline-block;
  font-size: 2.5em; /*30 / 16*/
  font-weight: 300;
  padding-top: 2.8em;
  margin-left: 5%;  
}

.Hero-subtitle {
  box-sizing: border-box;
  bottom: 8%;
  font-size: 4em; /*14 / 16*/
  font-weight: 300;
  max-width: 720px;
  padding: 0 5%;
  position: absolute;
  width: 65%;
}

.Hero-overlay,
.Hero-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero-overlay {
  right: 35%;
  z-index: 1;
}

.Hero.is-skinny .Hero-overlay {
  right: 0;
}

.Hero-links {
  position: relative;
  max-width: 1024px;
  height: 40px;
  margin-top: -45px;
}

.Hero-links--fixed {
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 101;
}


@media screen and (max-width: 600px) {
  .Hero {
    height: 600px;
  }
  .Hero-overlay {
    right: 0;
  }

  .Hero-title {
    padding-top: 120px;
  }

  .Hero-subtitle {
    font-size: 2.3em;
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .Hero-subtitle {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 769px) {
  .Hero-subtitle {
    font-size: 3em;
  }
}





