/** @define Hero; use strict */

.Hero {
  background: #393939;
  color: #fff;
  height: 100vh;
  min-height: 600px;
  max-height: 768px;
  position: relative;
  overflow: hidden;
}

.Hero.is-skinny {
  height: 60vh;
  min-height: 400px;
  max-height: 500px;
}

.Hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.Hero.is-light {
  color: #000;
}

.Hero-title {
  display: inline-block;
  font-size: 2.5em; /*30 / 16*/
  font-weight: 300;
  margin-top: 0;
  margin-left: 5%;
  margin-bottom: 0;
  padding-top: 2.8em;
  text-transform: uppercase;
}

.Hero-subtitle {
  box-sizing: border-box;
  bottom: 15%;
  font-size: 4em; /*14 / 16*/
  font-weight: 300;
  max-width: 830px;
  padding: 0 5%;
  position: absolute;
  width: 66.666%;
}

.Hero-overlay,
.Hero-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Hero-image--mobile {
  display: none;
}

.Hero-video {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 1107px;
}

.Hero-overlay {
  right: 33.333%;
  z-index: 1;
}

.Hero.is-skinny .Hero-overlay {
  right: 0;
}

.Hero-links {
  position: relative;
  max-width: 1024px;
  height: 40px;
  margin-top: -45px;
}

.Hero-links--fixed {
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 101;
}

@media screen and (max-width: 1025px) {
  .Hero-subtitle {
    font-size: 3.5em;
  }

  .Hero-video {
    display: none;
  }

  .Hero-image--mobile {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .Hero-subtitle {
    font-size: 3em;
    bottom: 10%;
  }
}

@media screen and (max-width: 767px) {
  .Hero {
    height: initial;
    min-height: 350px;
  }
  .Hero-overlay {
    right: 0;
  }

  .Hero-content {
    position: relative;
    padding-bottom: 3em;
  }

  .Hero-title {
    font-size: 2em;
    padding-top: 100px;
  }

  .Hero-subtitle {
    position: relative;
    margin-top: 3em;
    font-size: 2em;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .Hero-title {
    font-size: 2em;
    padding-top: 85px;
  }
}
