/** @define Hero; use strict */

.Hero {
  background: #eb4e1b;
  color: #fff;
  padding: 3em 0 4.5em 5%;
  position: relative;
  overflow: hidden;
}

.Hero.is-light {
  color: #000;
}

.Hero-title {
  border-bottom: 0.5px solid #fff;
  font-size: 1.875em; /*30 / 16*/
  font-weight: 900;
  margin: 0 0 0.333em;
  padding-bottom: 0.3333em;
  text-transform: uppercase;
}

.Hero-subtitle {
  font-size: 0.875em; /*14 / 16*/
  font-weight: 300;
}

.Hero-content {
  left: 1.5em;
  right: 0;
  bottom: 3em;
  position: absolute;
  z-index: 2;
}

.Hero-overlay,
.Hero-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Hero-overlay {
  z-index: 1;
}

@media screen and (min-width: 601px) {
  .Hero {
    height: calc(100vw * 0.6346);
    max-height: 600px;
  }
}

