.Hamburger {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
  border-radius: 100%;
  display: inline-block;
  pointer-events: auto;
  position: fixed;
  top: 1.2em;
  right: 5%;
  z-index: 3;
  transition: all 0.333s ease-in;
}

.Hamburger.is-floating {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.Hamburger.is-x {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: transparent !important;
}

.Hamburger-icon {
  top: 14px;
  height: 30px;
  position: relative;
  width: 28px;
}

.Hamburger-top,
.Hamburger-bottom {
  content: ' ';
  position: absolute;
  left: 0;
}

.Hamburger-top {
  top: -9px;
}

.Hamburger-bottom {
  top: 9px;
}

.Hamburger-top,
.Hamburger-middle,
.Hamburger-bottom {
  width: 100%;
  height: 3px;
  background-color: #888;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

.Hamburger-top.is-black,
.Hamburger-middle.is-black,
.Hamburger-bottom.is-black {
  background-color: #000;
}

/* on activation */
.Hamburger.is-x .Hamburger-middle {
  background-color: transparent;
}

.Hamburger.is-x .Hamburger-top {
  background-color: #fff;
  transform: rotate(45deg) translate(5px, 5px);
}

.Hamburger.is-x .Hamburger-bottom {
  background-color: #fff;
  transform: rotate(-45deg) translate(7px, -8px);
}


