/** @define BlogArticle */

.BlogArticle {}

.BlogArticle-content {
  line-height: 1.666;
  padding-top: 2.3333rem;
}

.BlogArticle-meta {
  display: none;
}

.BlogArticle-content h1,
.BlogArticle-content h2,
.BlogArticle-content h3,
.BlogArticle-content h4,
.BlogArticle-content h5,
.BlogArticle-content h6,
.BlogArticle-content ul,
.BlogArticle-content ol,
.BlogArticle-content p,
.BlogArticle-content hr,
.BlogArticle-content pre,
.BlogArticle-content table,
.BlogArticle-author {
  max-width: 600px;
  margin: 0 auto 2.333rem;
  padding: 0 5%;
}

.BlogArticle-content table {
  width: 100%;
}

.BlogArticle-content th,
.BlogArticle-content td {
  border: 1px solid #333;
  padding: 10px;
}

.BlogArticle-content hr {
  height: 1px;
  border: 0;
  background-color: #dedede;
}

.BlogArticle-content blockquote {
  font-weight: 300;
  margin: 0 auto 2.333rem;
  max-width: 600px;
  text-transform: uppercase;
}

.BlogArticle-content blockquote p {
  line-height: 1.16666;
  padding: 0;
  margin-bottom: 0;
}

.BlogArticle-content cite {
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
}

.BlogArticle-content iframe {
  height: 600px;
  width: 100%;
}

.BlogArticle-content h2 {
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.BlogArticle-content h3 {
  color: #393939;
  margin-bottom: 1.3333rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.BlogArticle-content ul,
.BlogArticle-content ol {
  max-width: 500px;
  padding-left: 20%;
  padding-right: 20%;
}

.BlogArticle-content li {
  font-weight: 300;
  line-height: 1.22222;
  margin-bottom: 0.653rem;
}

.BlogArticle-content a {
  color: inherit;
}

.BlogArticle-share {
  border-top: 1px solid #DEDEDE;
  margin: 0 auto;
  max-width: 700px;
  padding: 3em 5% 6em;
  text-align: center;
}

.BlogArticle-share-link {
  display: inline-block;
  margin-right: 15px;
}

.BlogArticle-author {}
.BlogArticle-author-image {
  border-radius: 50%;
  display: inline-block;
  margin-right: 2.5%;
  overflow: hidden;
  vertical-align: top;
  width: 15%;
}

.BlogArticle-author-details {
  display: inline-block;
  font-size: 0.91666em;
  padding: 0.875rem 0;
  vertical-align: top;
}

.BlogArticle-author-image img {
  max-width: 100%;
}

.BlogArticle-author-name {
  font-weight: 900;
  font-style: italic;
}

.BlogArticle-author-title:before {
  content: ' | ';
}

.BlogArticle-author-twitter {
  display: block;
  margin-top: 0.2em;
}

@media screen and (max-width: 600px) {
  .BlogArticle-share {
    display: none;
  }

  .BlogArticle-author-image {
    display: block;
    margin: 0 auto;
    width: 20%;
  }

  .BlogArticle-author {
    text-align: center;
  }
}

