/** @define Navigation; use strict */

.Navigation-main {
  background-color: transparent;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  margin: 0 10px;
  position: fixed;
  top: -10px;
  left: 0;
  right: 0;
  z-index: 4;
  transition: transform 700ms linear, background-color 700ms linear, box-shadow 100ms linear 700ms ;
}

.Navigation-main.is-visible {
  background-color: #393939;
  transform: translateY(0px);
}

.Navigation-main.is-not-visible {
  transform: translateY(-100px);
}

.Navigation-main.is-top {
  box-shadow: none;
  background-color: transparent;
  top: 0;
  transition: transform 700ms linear, background-color 500ms linear;
}

.Navigation-main-links {
  border-bottom: 0;
  margin: 0 5%;
  padding-bottom: 2em;
  padding-top: 1em;
  transition: border-bottom 500ms linear;
}

.Navigation-main.is-top .Navigation-main-links {
  border-bottom: 1px solid white;
}

.Navigation-main-link {
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin-right: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.Navigation-main-link:hover, .Navigation-main-link.active,
.Navigation-main-link:focus, .Navigation-main-link.active {
  color: #FAAB18;
}

.Navigation-hamburger {
  position: fixed;
  right: 5%;
  top: 0;
  transition: transform 700ms linear;
  z-index: 101;
}

.Navigation-hamburger.is-visible {
  transform: translateY(0px);
}

.Navigation-hamburger.is-not-visible {
  transform: translateY(-100px);
}

.Navigation-mobile {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(250, 171, 24, 0.97);
  color: #fff;
  padding: 3em;
  pointer-events: none;
  transition: 0.1666s all ease-in;
  opacity: 0;
  transform: scale(0.8);
  z-index: 100;
}


.Navigation-mobile.is-visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.Navigation-mobile.is-not-visible {
  opacity: 0;
  transform: scale(0.8);
  z-index: -5;
  display: none;
}

.Navigation-content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.Navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navigation-header {
  font-size: 1.75em; /* 30 / 16 */
  font-weight: 100;
  line-height: 1.42857; /* 40 / 28 */
  text-transform: uppercase;
}

.Navigation-link {
  color: #fff;
  display: inline-block;
  font-weight: 900;
  padding: 0.6666em 10%;
  text-transform: uppercase;
  text-decoration: none;
}

.Navigation-divider {
  height: 1.5em;
}

.Navigation-hr {
  border: 0;
  border-bottom: 1px solid #fff;
  margin-top: 90px;
  width: 100%;
}

.Navigation-sublink {
  color: #fff;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .Navigation-mobile {
    padding: 1.5em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .Navigation-content {
    margin-top: 5px;
  }

  .Navigation-header {
    margin-bottom: 0.666em;
    text-align: center;
  }

  .Navigation-header:after {
    border-bottom: 1px solid #fff;
    content: ' ';
    display: block;
    margin: 0.5em auto;
    width: 5em;
  }

  .Navigation-link,
  .Navigation-sublink {
    display: block;
    padding: 0.666em 0;
    text-align: center;
  }

}

@media screen and (max-width: 1024px) {
  .Navigation-main.is-not-visible {
    transform: translateY(0px);
    background-color: #393939;
  }

  .Navigation-hamburger.is-not-visible {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 810px) {
  .Navigation-main-link {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 767px) {
  .Navigation-main {
    margin: 0;
    top: 0;
  }
  .Navigation-main-links {
    padding-bottom: 1.2em;
    padding-top: 0.3em;
  }

  .Navigation-main-link {
    display: none;
  }
}



@media screen and (min-width: 768px) {

  .Navigation-hamburger {
    display: none;
  }

  .Navigation-mobile {
    display: none;
  }

  .Navigation-sublink {
    display: inline-block;
    padding: 0.666em;
  }

  .Navigation-sublink {
  }

  .Navigation-sublink:first-child {
    margin-left: -0.666em;
  }

  .Navigation-socials {
    padding: 0 5.5%;
  }

  .Navigation-list {
    margin-left: 35%;
  }

  .Navigation-header {
    float: left;
    width: 30%;
  }
}

@media screen and (max-width: 350px) {
  .Navigation-header {
    font-size: 1.3em;
    line-height: 1.7;
  }
}

