/** @define Blog */

.Blog {
}

.Blog-article {
  border-bottom: 1px solid #ddd;
  padding: 5.625em 33.3333% 5.625em 0;
  margin-left: 5%;
}

.Blog-article-title {
  color: #000;
  font-size: 1.1666em;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

.Blog-article-summary {
  font-size: 0.75em;
  line-height: 1.6;
}

.Blog-article-info {
  font-size: 0.666em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.Blog-article-author {
  color: inherit;
  text-decoration: none;
}

.Blog-pager {
  margin: 1.5em 5%;
  /* padding-bottom: 2.333em; */
}

.Blog-article-pager {
  color: inherit;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 900;
  margin-left: -0.416666em;
  margin-right: 0.416666em;
  padding: 0.416666em;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 601px) {
  .Blog-featured {
    position: relative;
    top: -10em;
  }
}

