/** @define Blog */

.Blog {
}

.Blog-featured {
  border: 1px solid #fff;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  height: 10em;
  margin-top: 1.5em;
  margin-left: -1px;
  padding: 2em 1.5em 0;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  vertical-align: top;
  width: 31.6666%; /* 33.333 - (5% / 3) for the right padding */
}

.Blog-featured-title {
  display: block;
  font-size: 1.16666em;
  font-weight: 900;
  margin-bottom: 0.8em;
  position: relative;
  z-index: 1;
}

.Blog-featured-author {
  color: #eaeaea;
  font-size: 0.666em;
  font-weight: 100;
  position: relative;
  z-index: 1;
}

.Blog-featured-image {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 250%;
  max-height: 250%;
  opacity: 0.3;
  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Blog-article {
  border-bottom: 1px solid #ddd;
  padding: 2.333em 33.3333% 2.3333em 0;
  margin-left: 5%;
}

.Blog-article-title {
  color: #000;
  font-size: 1.1666em;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
}

.Blog-article-summary {
  font-size: 0.75em;
  line-height: 1.6;
}

.Blog-article-info {
  font-size: 0.666em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.Blog-article-author {
  color: inherit;
  text-decoration: none;
}

.Blog-pager {
  margin: 1.5em 5%;
  /* padding-bottom: 2.333em; */
}

.Blog-article-pager {
  color: inherit;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 900;
  margin-left: -0.416666em;
  margin-right: 0.416666em;
  padding: 0.416666em;
  text-transform: uppercase;
  text-decoration: none;
}

