/** @define Blog */

.Blog {
}

.Blog-article {
  border-bottom: 1px solid #efefef;
  color: #393939;
  font-weight: 300;
  padding: 4em 5%;
}

.Blog-article-content {
  margin: 0 auto;
}

.Blog-article-title {
  color: #393939;
  font-size: 2em;
  font-weight: 900;
  text-decoration: none;
}

.Blog-article-title:hover,
.Blog-article-title:focus {
  color: #FAAB18;
}

.Blog-article-summary {
  font-size: 1.1em;
  line-height: 1.6;
}

.Blog-article-summary a {
  color: inherit;
}

.Blog-article-info {
  font-size: 1em;
  letter-spacing: 0.05em;
}

.Blog-article-author {
  color: #393939;
  text-decoration: none;
}

.Blog-pager {
  color: #393939;
  margin: 1.5em 5%;
  position: relative;
  text-align: right;
}

.Blog-page {
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.Blog-article-pager.is-previous {
  float: left;
}

.Blog-article-pager {
  color: inherit;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 900;
  margin-left: -0.416666em;
  margin-right: 0.416666em;
  padding: 0.416666em;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .Blog-featured {
    margin-bottom: 3.75em;
    margin-left: -1.5em;
  }
}

@media screen and (min-width: 601px) {
  .Blog-featured {
    position: relative;
    top: -10em;
  }
}

@media screen and (min-width: 1024px) {
  .Blog-article {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .Blog-page {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

