/** @define ContactForm; use strict */

.ContactForm {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  padding: 6em;
  width: 100%;
}

.ContactForm-header {
  font-weight: 300;
  font-size: 2.25em;
  color: #393939;
  padding-bottom: 15px;
}

.ContactForm-header-icon {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}

.ContactForm-header.is-success {
  color: #ff692c;
  font-weight: normal;
  margin-bottom: 2em;
  text-transform: none;
}

.ContactForm-divider {
  border: 0;
  border-bottom: 2px solid #111;
  margin: 1.5em 0;
  width: 80px;
}

.ContactForm-fieldset {
  border: 0;
  padding: 1em 0 2.5em;
}

.ContactForm-label {
  color: #333;
  display: block;
  font-size: 0.875em;
  text-transform: uppercase;
}

.ContactForm-label.is-checkbox {
  font-size: 0.75em;
}

.ContactForm-input,
.ContactForm-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 0.5em;
}

.ContactForm-textarea {
  height: 5em;
}

.ContactForm-textarea {
  border: 1px solid #e1e1e1;
}

.ContactForm-checkbox {
  margin-right: 0.5em;
}
.ContactForm-submit {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .ContactForm {
    padding: 2em;
  }
  .ContactForm-submit {
    width: 100%
  }
}
