/** @define Capabilities; use strict */

.Capabilities {}

.Capabilities-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding-bottom: 40px;
}

.CapabilityBlock {
  display: flex;
  flex-direction: column-reverse;
  padding: 40px 0;
  border-bottom: solid 1px #dde2e6;
}

.CapabilityBlock--last {
  border-bottom: none;
}

.CapabilityBlock-meta,
.CapabilityBlock-image {
  flex: 1;
}

.CapabilityBlock-image {
  background-clip: content-box;
  background-size: cover;
  padding: 1em;
  min-height: 300px;
}

.CapabilityBlock-meta {
  padding: 0 1em 0.75em 2em;
}

.CapabilityBlock-underline {
  background-color: #393939;
  display: block;
  height: 4px;
  margin: 2em 0;
  width: 10%;
}

.CapabilityBlock-title {
  font-size: 2em;
}

.CapabilityBlock-specialities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.CapabilityBlock-specialty {
  flex: 0 1 50%;
  font-size: 0.9em;
  font-weight: 600;
  list-style: none;
}

@media screen and (min-width: 767px) {
  .CapabilityBlock {
    padding: 80px 0;
  }

  .CapabilityBlock-meta {
    padding: 3em 1em 2em 2em;
  }

  .CapabilityBlock {
    flex-direction: row;
  }

  .CapabilityBlock--reverse {
    flex-direction: row-reverse;
  }
}
