/** @define CultureContent; use strict */

.CultureContent {}

/** INTRODUCTION ================ */

@media screen and (min-width: 601px) {
  .CultureContent-value {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}

.CultureContent-culture {
  background-color: #EFEFEF;
  height: 100vh;
  min-height: 375px;
  max-height: 768px;
  position: relative;
}


.CultureContent-culture-image {
  background-size: cover;
  background-position: center;
  bottom: 0;
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 66.66%;
}

.CultureContent-culture-statement {
  box-sizing: border-box;
  display: inline-block;
  float: right;
  font-weight: 300;
  font-size: 1.2em;
  height: 100%;
  line-height: 1.7em;
  padding: 10% 5% 0;
  width: 33.33%;
}

/** BENEFITS ================ */

.CultureContent-benefits {
  font-weight: 300;
  height: 100vh;
  min-height: 375px;
  max-height: 768px;
  position: relative;
}

.CultureContent-benefits-image {
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.CultureContent-benefits-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(250, 171, 24, 0.6);
}

.CultureContent-benefits-title {
  font-size: 3em;
  padding: 2em 0;
  position: relative;
  text-align: center;
}

.CultureContent-benefits-list {
  columns: 2;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.CultureContent-benefits-item {
  font-size: 1.2em;
  font-weight: 300;
  list-style: none;
  line-height: 1.6;
  margin-bottom: 0;
  padding-left: 11%;
  padding-right: 5%;
  position: relative;
}

.CultureContent-benefits-item:before {
  content: '•';
  color: #E29300;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 5%;
  top: 5px;
}


@media screen and (max-width: 600px) {

  .CultureContent-culture {
    height: 760px;
    padding-bottom: 1em;
  }

  .CultureContent-benefits {
    height: 100%;
    max-height: 100%;
    padding-bottom: 4em;
  }

  .CultureContent-benefits-title {
    padding: 1em 0 0.5em;
  }

  .CultureContent-benefits-list {
    columns: 1;
    padding-left: 5%;
  }

  .CultureContent-benefits-item {
    padding-left: 5%;
  }

  .CultureContent-benefits-item:before {
    left: -4px;
  }

  .CultureContent-culture-image {
    background-size: cover;
    display: block;
    height: 50%;
    position: relative;
    width: 100%;  
  }

  .CultureContent-culture-statement {
    box-sizing: border-box;
    display: block;
    float: none;
    height: 50%;
    padding: 3em 5% 0;
    width: 100%;
  }
}




