/** @define NewsList; use strict */

.NewsList-url {
  font-size: 1.1em;
  color: #FAAB18;
  text-decoration: none;
  margin-bottom: 1rem;
  display: block;
  margin-top: -1rem;
  font-weight: 500;
}

