/** @define FilterBar; use strict */

.FilterBar {
  background: #ebebeb;
  overflow: auto;
}

.FilterBar-content {
  /* arbitrary width to make sure everything is visible */
  margin: 0 auto;
  min-width: 24em;
}

.FilterBar-link {
  border-bottom: 1px solid transparent;
  color: #333;
  display: inline-block;
  font-size: 0.875em;
  padding: 1.3em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.FilterBar-link.is-active {
  border-bottom-color: #000;
}
