/** @define FilterBar; use strict */

.FilterBar {
  background: #ebebeb;
  text-align: center;
}

.FilterBar-link {
  border-bottom: 1px solid transparent;
  color: #333;
  display: inline-block;
  font-size: 0.75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.FilterBar-link.is-active {
  border-bottom-color: #000;
}

