/** @define MajorSectionElement; use strict */

.MajorSectionElement {
  padding: 5.625em 0; /* 90 / 16 */
}

.MajorSectionElement-title {
  padding-right: 1.5rem;
}

@media screen and (max-width: 600px) {
  .MajorSectionElement-title,
  .MajorSectionElement-content {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 601px) {
  .MajorSectionElement-title,
  .MajorSectionElement-content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .MajorSectionElement-title {
    padding-left: 5%;
  }

  .MajorSectionElement-content {
    padding-right: 5%;
  }
}
