/** @define MajorSectionElement; use strict */

.MajorSectionElement {
  padding: 1.5em 0;
}

.MajorSectionElement-title {
  color: #eb4e1b;
  font-weight: 900;
  font-size: 1.3333em;
  line-height: 1.16666;
  text-transform: uppercase;
  padding: 0 1.5rem;
}

.MajorSectionElement-title:after {
  content: ' ';
  display: block;
  width: 30%;
  margin-top: 1em;
  border-bottom: 1px solid #eb4e1b;
  margin-bottom: 2em;
}

.MajorSectionElement-content {
  color: #313131;
  font-size: 0.8em;
  padding: 0 1.5em;
  line-height: 1.8;
}

@media screen and (min-width: 601px) {
  .MajorSectionElement-title,
  .MajorSectionElement-content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
}
