/** @define Footer; use strict */

.button-primary {
  border: none;
  outline: none;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 900;
  color: #FFFFFF;
  letter-spacing: 1.5px;
  max-width: 300px;
  height: 44px;
  line-height: 43px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  background: #F8AA31;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: all 200ms ease-in;
  cursor: pointer; }

.button-primary:hover {
  background-color: #f7a018;
  color: #FFFFFF;
}

.Footer {
  background: #393939;
  color: #fff;
  padding: 48px;
}

.Footer-inner {
  margin: 0 auto;
  max-width: 1024px;
}

.Footer-subtitle {
  font-size: 0.8em;
  line-height: 2.5em;
  margin: 0;
  text-transform: uppercase;
}

.Footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}

.Footer-description {
  max-width: 350px;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.75em;
  padding-bottom: 2em;
}

.Footer-links {
  display: flex;
  justify-content: flex-end;
  max-width: 250px;

  flex-direction: row;
  flex-wrap: wrap;
}

.Footer-link {
  flex: 0 1 50%;
  position: relative;
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 200ms ease-out;
  text-decoration: none;
  line-height: 25px;
}

.Footer-link:hover {
  color: #F8AA31;
}

.Footer-link:hover:before {
  bottom: 4px;
  left: 0;
  right: 0;
  background: #F8AA31;
}

.Footer-legal {
  text-align: left;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 3em;
}

.Footer-subscribe {
  max-width: 300px;
  margin: 12px auto;
  color: white;
}

@media screen and (min-width: 767px) {
  .Footer-content {
    flex-direction: row;
  }

  .Footer-description {
    flex: 0 1 40%;
  }

  .Footer-links {
    flex: 0 1 30%;
  }

  .Footer-legal {
    margin-top: 0;
  }

}
