/** @define Footer; use strict */

.Footer {
  background: #393939;
  box-sizing: border-box;
  bottom: 0;
  color: #fff;
  font-size: 0.666em;
  padding: 3em 5% 1.5em;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.Footer-links {
  padding-bottom: 2em;
}

.Footer-link {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 2.5em;
  text-decoration: none;
}

.Footer-legal {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  .Footer-link {
    display: inline-block;
    width: 50%;
    padding-bottom: 1.5em;
    margin-right: 0;
  }
}