/** @define ServiceContact; use strict */

.ServiceContact {
  background-color: #393939;
  color: #fff;
  font-weight: 100;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 6% 0;
}

.ServiceContact-header {
  font-size: 2.2em;
}

.ServiceContact-info {
  box-sizing: border-box;
  display: inline-block;
  padding-right: 5em;
  width: 50%;
}

.ServiceContact-description {
  display: inline-block;
  width: 50%;
  vertical-align: bottom;
}

.ServiceContact-label {
  display: block;
  color: #e1e1e1;
}

.ServiceContact-textarea {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border: 1px solid #e1e1e1;
  height: 100px;
  margin-bottom: 13px;
  margin-top: 25px;
  padding: 5px;
}

.ServiceContact-submit {
  margin-top: 20px;
}