/** @define CareersContent; use strict */

.CareersContent {}

.CareersContent-title {
  font-weight: 300;
  font-size: 3em;
  padding: 2em 0 1.2em;
  text-align: center;
  margin: 0;
}

.CareersContent-list {
  list-style: none;
  padding: 0;
}

.CareersContent-item {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 3em;
  padding: 0 5%;
  position: relative;
  text-align: center;
  width: 50%;
}

.CareersContent-item-segment {
  border-bottom: 1px solid #efefef;
  max-width: 382px;
  padding-bottom: 2em;
}

.CareersContent-button {
  margin-top: 1.4em;
}

.CareersContent-button:hover,
.CareersContent-button:focus {
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.23);
  padding: 0 4em;
}

.CareersContent-job-title {
  font-size: 1.875em;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0;
}

.CareersContent-list p {
  max-width: 40em;
}

.CareersContent-meta {
  font-size: 2em;
  font-weight: 300;
}


@media screen and (min-width: 1024px) {
  .CareersContent {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {

  .CareersContent-title {
    font-size: 2.2em;
  }
  .CareersContent-item {
    text-align: center;
    width: 100%;
  }

  .CareersContent-item-segment {
    max-width: 100%;
  }

  .CareersContent-item:nth-child(even) {
    padding-left: 5%;
  }

  .CareersContent-button {
    width: 100%;
  }
}