/** @define CareersContent; use strict */

.CareersContent {}

.CareersContent-list {
  list-style: none;
  padding: 0;
}

.CareersContent-item {
  border-top: 1px solid #ccc;
  padding: 1.5em;
  position: relative;
  list-style: none;
}

.CareersContent-job-title {
  font-size: 1.875em;
  font-weight: 900;
}

.CareersContent-list p {
  max-width: 40em;
}

@media screen and (min-width: 601px) {
  .CareersContent-item {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .CareersContent {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}