/** @define CaseStudiesContent; use strict */

.CaseStudiesContent-item {
  box-sizing: border-box;
  color: #000;
  display: block;
  padding: 5.625em 1.5em 3.3333em 1.5em;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.3333s ease-in;
}

.CaseStudiesContent-title {
  display: block;
  font-size: 1.25em;
  margin-bottom: 1em;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.CaseStudiesContent-description {
  color: #393939;
  line-height: 1.4;
  position: relative;
  width: 60%;
  z-index: 1;
}

.CaseStudiesContent-item:before {
  content: ' ';
  transition: background 0.3333s ease-in;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.CaseStudiesContent-item:hover,
.CaseStudiesContent-item:hover .CaseStudiesContent-description {
  color: #fff;
}

.CaseStudiesContent-item:hover:before {
  background: rgba(248, 178, 63, 0);
}

.CaseStudiesContent-item:hover .CaseStudiesContent-image {
  opacity: 1;
}

.CaseStudiesContent-image {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 300%;
  min-width: 100%;
  transition: opacity 0.3333s ease-in;
}

@media screen and (min-width: 601px) {
  .CaseStudiesContent-item {
    display: inline-block;
    height: 14em;
    vertical-align: top;
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .CaseStudiesContent {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
