/** @define CaseStudiesContent; use strict */

.CaseStudiesContent-item {
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  height: 14em;
  padding: 3.333em 10% 2em 3.333em;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  width: 50%;
  text-decoration: none;
}

.CaseStudiesContent-title {
  display: block;
  font-weight: 900;
  font-size: 1em;
  margin-bottom: 1em;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.CaseStudiesContent-description {
  font-size: 0.75em;
  line-height: 1.4;
  position: relative;
  z-index: 1;
}

.CaseStudiesContent-item:before {
  content: ' ';
  transition: background 0.3333s ease-in;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.CaseStudiesContent-item:hover:before {
  background: rgba(248, 178, 63, 0.5);
}

.CaseStudiesContent-image {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 300%;
}
