/** @define CaseStudiesContent; use strict */

.CaseStudiesContent-item {
  box-sizing: border-box;
  border-bottom: 1px solid #DEDEDE;
  color: #000;
  display: block;
  padding: 0;
  margin-left: 5%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.CaseStudiesContent-item:hover .CaseStudiesContent-title {
  color: #FAAB18;
}

.CaseStudiesContent-item:hover .CaseStudiesContent-overlay {
  background-color: rgba(250, 171, 24, 0.6);
}

.CaseStudiesContent-text {
  margin-right: 400px;
  padding: 5em 5% 5em 0;
}

.CaseStudiesContent-title {
  display: block;
  font-size: 1.25em;
  margin-bottom: 1em;
  max-width: 480px;
  position: relative;
  text-transform: uppercase;
  transition: color 300ms ease-out;
  z-index: 1;
}

.CaseStudiesContent-description {
  color: #393939;
  display: block;
  line-height: 1.4;
  max-width: 480px;
  position: relative;
  z-index: 1;
}

.CaseStudiesContent-image,
.CaseStudiesContent-overlay {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  z-index: 1;
}

.CaseStudiesContent-item:hover .CaseStudiesContent-title,
.CaseStudiesContent-item:hover .CaseStudiesContent-description,
.CaseStudiesContent-item:focus .CaseStudiesContent-title,
.CaseStudiesContent-item:focus .CaseStudiesContent-description {
  color: #fff;
  transition: color 0.3333s ease-in;
}

.CaseStudiesContent-item:hover:before,
.CaseStudiesContent-item:focus:before {
  background: rgba(18, 18, 18, 0.3);
}

.CaseStudiesContent-item:hover .CaseStudiesContent-image,
.CaseStudiesContent-item:focus .CaseStudiesContent-image {
  opacity: 1;
}

.CaseStudiesContent-image {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 300%;
  min-width: 100%;
  /*transition: opacity 0.3333s ease-in;*/
}

.CaseStudiesContent-overlay {
  background-color: transparent;
  z-index: 1;
  transition: background-color 300ms ease-out;
}
