.Leader {
  list-style: none;
  padding: 0 0 4em;
  margin: 4em 0 0;
  color: #393939;
  border-bottom: 1px solid #dde1e6;
  clear: both;
}

.Leader:first-child {
  margin: 0;
}

.Leader:last-child {
  border-bottom: 0;
}

.Leader-image-container {
  display: inline-block;
  width: 50%;
}

.Leader-image-container.is-odd {
  float: right;
}

.Leader-image {
  width: 100%;
}

.Leader-meta {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 2em 0;
  padding-left: 9%;
  box-sizing: border-box;
}

.Leader-meta.is-odd {
  padding-left: 0;
  padding-right: 9%;
}

.Leader-name {
  font-size: 2em;
  margin: 0;
}

.Leader-title {
  font-size: 1.5em;
  color: #f16521;
  margin: .5em 0 0;
}

.Leader-description {
  font-weight: 300;
}

.Leader-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #393939;
}

.Leader-link:hover {
  color: #f16521;
}

@media screen and (max-width: 1020px) {

  .Leader-image-container {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }

  .Leader-image-container.is-odd {
    float: none;
  }

  .Leader-image {
    width: 100%;
  }

  .Leader-meta {
    display: block;
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-left: 0;
  }

  .Leader-meta.is-odd {
    padding-right: 0;
  }

}
